<h1>Login</h1>
<form method="POST" action="/login">
    <label for="name">Username</label>
    <input type="text" id="name" name="name" value={{.TempUser.Name}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.NameErr}}</err>
    <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value={{.TempUser.Password}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.PasswordErr}}</err>
    <br><br>
    <button type="submit">Login</button>
    <a href="/signup"><button type="button">Sign Up</button></a>
    <img src="assets/placeholder.jpeg" alt="placeholder" width="300px"/>
    <img src="backupAssets/placeholder.jpeg" alt="placeholder1" width="300px"/>
    <!--img src="../assets/placeholder.jpeg" alt="placeholder .." width="300px"/>
    <img src="placeholder.jpeg" alt="/placeholder" width="300px"/-->
    <img src="test/data/original/placeholder.jpeg" alt="placeholder2" width="300px"/>
    <img src="test/data/original/sample1.jpeg" alt="sample" width="300px"/>
</form>