<h1>Login</h1>
<form method="POST" action="/login">
    <label for="name">Username</label>
    <input type="text" id="name" name="name" value={{.TempUser.Name}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.UsernameErr}}</err>
    <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value={{.TempUser.Password}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.PasswordErr}}</err>
    <br><br>
    <button type="submit">Login</button>
    <a href="/signup"><button type="button">Sign Up</button></a>
</form>