<h1>Edit profile of {{printf "%s" .User.Name}}</h1>
<form enctype="multipart/form-data" action="/upload" method="POST">
    <input type="file" name="photo_file" />
    <input type="submit" value="Upload" />
</form>
<img src={{.Photo}} alt="profile photo" width="300px">
<form method="POST" action="/remove">
    <button type="submit">Remove photo</button>
</form>
<form method="POST" action="/edit">
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" value={{.TempUser.Nickname}}>
    <br><br>
    <button type="submit">Save</button>
</form>
<form method="POST" action="/discard">
    <button type="submit">Cancel</button>
</form>