<h1>{{printf "%s" .Title}}</h1>
<form method="POST" action={{.Action}}>
    <label for="name">Username</label>
    <input type="text" id="name" name="name" value={{.TempUser.Name}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.NameErr}}</err>
    <br><br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" value={{.TempUser.Password}}>
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.PasswordErr}}</err>
    <br><br>
    <label for="password_repeat">Password</label>
    <input type="password" id="password_repeat" name="password_repeat">
    <err style="font-size: small; color: red;">{{printf "%s" .InfoErr.PasswordRepeatErr}}</err>
    <br><br>
    <button type="submit">{{printf "%s" .Title}}</button>
    <a href={{.CancelAction}}><button type="button">Cancel</button></a>
</form>