<h1>Hi, {{printf "%s" .DisplayName}}</h1>
<hr>
<p><b>User: </b>{{printf "%s" .User.Name}}</p>
<p><b>Photo: </b></p>
<img src={{.User.PhotoUrl}} alt="profile photo" width="300px">
<form method="GET" action="/edit">
    <button type="submit">Edit</button>
</form>
<form method="GET" action="/reset">
    <button type="submit">Reset user</button>
</form>
<form method="POST" action="/logout">
    <button type="submit">Logout</button>
</form>
<form method="POST" action="/delete">
    <button type="submit">Delete user</button>
</form>